/*==css reset==*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*==css general==*/
body{
   font-family: "Kanit", sans-serif;
   background-color: rgb(245, 247, 249);
}
/*----utility----*/
.btn{
   padding: 5px 10px;
   border: none;
   border-radius: 5px;
   background-color: rgb(67, 173, 249);
   color: #fff;
}
.btn-white{
   background-color: #fff;
   border: 1px solid lightgray;
   color: lightgray;
}
.section-container{
   background-color: #fff;
   max-width: 800px;
   margin: 0 auto;
   margin-top: 40px;
}
/*----span colors----*/
.high-blu{
   background-color: rgb(67, 173, 249);
}
.high-purple{
   background-color: rgb(142, 106, 222);
}
.high-watergreen{
   background-color: rgb(95, 185, 163);
}
.high-lightgreen{
   background-color: rgb(170, 197, 54);
}
.high-orange{
   background-color: rgb(227, 151, 61);
}
.high-pink{
   background-color: rgb(212, 89, 140);
}

/*=====header style=====*/
header{
   background-color: #fff;
}
.logo{
   display: inline-flex;
   margin: 10px;
}
.logo img{
   display: inline-block;
   vertical-align: middle;
   padding-right: 5px;
}
.logo h1{
   font-weight: 500;
   display: inline-block;
}

/*=====main style=====*/
/*----section style----*/
.content{
   padding: 15px 50px 30px;
}
.buttons{
   margin-bottom: 30px;
}
.list p{
   font-weight: 600;
   font-size: 1.2rem;
}
.title-list::before{
   content: '\25BE';
   padding-right: 5px;
}
.list ul li{
   list-style: none;
   font-weight: 300;
   padding: 10px 0px;
}
li.check::before{
   content: '\2713';
   font-size: 12px;
   padding: 1px 5px;
   border: 1px solid green;
   border-radius: 100%;
   color: green;
   margin-right: 5px;
}
li.cross::before{
   content: '\0058';
   font-size: 12px;
   padding: 1px 5px;
   border: 1px solid red;
   border-radius: 100%;
   color: red;
   margin-right: 5px;
}
.list span.highlighted{
   font-size: 0.7rem;
   padding: 1px 10px;
   color: #fff;
   border-radius: 20px;
}

/*=====footer style=====*/
footer{
   text-align: center;
}
footer p{
   margin: 40px 0px;
   padding: 50px;
   color: #fff;
   background-color: #393939;
   font-weight: 300;
}